<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{|/js/jquery.min.js|}"></script>
    <script th:src="@{|/js/jquery.countdown.min.js|}"></script>
    <script th:src="@{|/js/seckill.js|}"></script>
</head>
<body>
    <div >
        <div style="float: left">
            <img th:src="@{|/${goods.getImageUrl()}|}"><br>
        </div>
        <div style="float: left;margn-top:90px">

            <span th:text="${goods.getNameDesc()}"></span><br>
            <span th:text="${goods.getPrice()}"></span><br>
            <span th:text="${goods.getName()}"></span><br>


        <span id="secKillSpan">

        </span>
        </div>
    </div>
    <script>
        secKillObj.fun.initSecKill("[[${goods.id}]]","[[${goods.startTime.getTime()}]]","[[${goods.endTime.getTime()}]]","[[${goods.getPrice}]]")
    </script>
</body>
</html>